<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Bus Reservation System</title>
<link rel="stylesheet" 
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
    .navbar {
        background-color: cadetblue;
    }
    .anchor{
    margin: 6px;
    background-color: #d9edf7;
    border-color: #d9edf7;
    }
   
</style>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                            <h1>Bus Reservation Dashboard</h1>
                            <div class="container">
                            <div class="row">
                            <div class="col-md-3">
                           <h4> Hi, Welcome <span th:text ="*{userDetails}"></span> </h4></div>      
                             <div class="col-md-3">
                           <a th:href="@{/dashboard}" class="btn anchor" style="margin-left:600px"> <i class="fa fa-arrow-circle-o-left"></i>Dashboard</a>
                           </div>
                           <div class="col-md-3">
                           <a th:href="@{/logout}" class="btn anchor" style="margin-left:500px"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Logout</a>
                           </div>
          </div>
                                       </div> 
            </div>
        </div>
    </nav>

    <br><br><br><br><br><br><br>
    <!-- Create HTML registration form -->
    
    
    <div class="container">
    <div th:if="${param.success}">
                  <div class="alert alert-info">Ticket Sent to your Email Id Successfully.</div>
                </div>
                <div th:if="${param.successCancel}">
                  <div class="alert alert-info">Your Trip is Cancelled Successfully.You Will receive mail when refund is initiated.</div>
                </div>
                <div th:if="${param.alreadyCancel}">
                  <div class="alert alert-info" style="color: red;">Your This Trip is already Cancelled.You Will receive mail when refund is initiated.</div>
                </div>
                
                
        <div class="row">

                

                <form th:action="@{/myBooking}" method="get" th:object="${bookings}">
                                
                <table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						
							From
					</th>
					<th>
					
							To
					</th>
					<th>
					
							Departure Time
					</th>
					
				
					<th>
					
							Bus Name
					</th>
					<th>
					
							No of Passengers
					</th>
					
					<th>
					
							Total Amount Paid
					</th>
					<th>
					
							Trip Status
					</th>
					<th>
					
							Cancel Booking
					</th>
					<th>
					
							Generate Ticket(Will be sent on Email)
					</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="bus : ${bookings}">
					
					<td th:text="${bus.fromDestination}"></td>
					<td th:text="${bus.toDestination}"></td>
					<td th:text="${bus.time}"></td>
					<td th:text="${bus.BusName}"></td>
					<td th:text="${bus.noOfPersons}"></td>
					<td th:text="${bus.totalCalculated}"></td>
					<td th:text="${bus.tripStatus}"></td>
					<td> <a th:href="@{/myBooking/cancel/{id}(id=${bus.id})}" th:disabled="${bus.tripStatus eq Canceled}" class="btn btn-primary">Cancel</a>
					<td> <a th:href="@{/myBooking/generate/{id}(id=${bus.id})}" class="btn btn-primary">Generate</a>
					
				</tr>
			</tbody>
		</table>
                
                
                
                </form>
                
        </div>
        </div>
    
    
</body>

</html>